################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dg
*.suo
*.pdb
*.SDKVersion
/tests/Gliber.Tests/bin/Debug/netcoreapp1.0/Gliber.dll
*.json
*.IncrementalCache
*.rsp
/src/Gliber/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/tests/Gliber.Tests/bin/Debug/netcoreapp1.0/Gliber.Tests.dll
/tests/Gliber.Tests/bin/Debug/netstandard1.6/Gliber.dll
/tests/Gliber.Tests/bin/Debug/netstandard1.6/Gliber.Tests.dll
/tests/Gliber.Tests/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
/tests/Gliber.Tests/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
/src/Gliber/bin/Debug/netstandard1.6/Gliber.dll
